html, body {
    width: 100%;
    height: 100%;
}

body {
   background: #fff;
   /*justify-content: center;*/
}

h1 {
  margin: 1em 0 0.5em 0;
  font-weight: bold;
  font-family: 'Orienta', sans-serif;
  font-size: 30;
  line-height: 40px;
}

.diagram_container {
  position: absolute;
  top: 500px;
}

