html, body {
    width: 100%;
    height: 100%;
   position: relative;
    overflow: hidden;
}

body {
   background: #fff;
   justify-content: center;
}

.diagram_container {
  position: absolute;
  top: 450px;
  left: -50px;
}

#estuary_diagram {
  /*width: 100%;*/
}

.bokeh-container {

}