<!doctype html>
<html lang="en">
  <head>
    <title>Estuary Model - Blue Lobster Bowl @ MIT</title>

    <meta charset="utf-8" />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <!-- External JavaScript libraries -->
    <script type="text/javascript" src="{{ url_for('static', filename='snap.svg-min.js' )}}"></script>

    <!-- Local static resources -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  </head>

  <body>

    <h1>Estuary Model</h1>
    <hr>

    <div id="bokeh_app">
      {{ bokeh|indent(4)|safe }}
    </div>

    <hr>

    <div class='descr'>
    <p> Any updated descriptions would go here. </p>
    </div>

    <!--<input checked id="tides" name="s" type="checkbox" />
    <label for="tides">Enable Tides</label>-->

    <div class="diagram_container">
      <!-- <svg id="estuary_diagram"  xmlns="http://www.w3.org/2000/svg" version="1.1" width="600" height="300" viewBox="0 0 500 350" xml:space="preserve"> -->
      <svg id="estuary_diagram" viewBox="-10 0 600 350" width="450px"  preserveAspectRatio="xMinYin">

        <defs>
           <linearGradient id="water_gradient" gradientUnits="userSpaceOnUse" x1="250" y1="117" x2="250" y2="321">
             <stop offset="0" stop-color="#00FFFF"/>
             <stop offset="0.5" stop-color="#29ABE2"/>
             <stop offset="1" stop-color="#0071BC"/>
           </linearGradient>

           <marker id="arrowhead" markerWidth="10" markerHeight="10" refx="0" refy="3" orient="auto" markerUnits="strokeWidth">
             <path d="M0,0 L0,6 L9,3 z" fill="#000" />
           </marker>
        </defs>
      </svg>
    </div>
    <!-- Script for animating estuary -->
    <script type="text/javascript" src="{{ url_for('static', filename='estuary.js' )}}"></script>

  </body>
</html>